* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

#navbar {
    width: 100%;
  position: fixed;
  background-color: #7829da;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 1 rem;
}

.nav-list a {
  display: block;
  text-decoration: none;
  color: #f0f0f0;
  padding: 1.5rem;
  font-size: xx-large;
}

.nav-list a:hover {
  background-color: #9a4bfc;
}

#welcome-section {
  background-color: #7289da;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#projects {
    display: flex;
    justify-content: center;
}

.projects-grid {
    width: 1280px;
    display: flex;
    flex-wrap: wrap;

}
.project-title {
    margin: 2rem;

}
.project-tile {
    margin: 2rem;
}
#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 320px;
    background-color: #ffcc99;
}

#contact h1, h4 {
    padding-bottom: 2rem;
}

#contact div {
    display: flex;
    justify-content: center;
}

#contact div a {
    padding: 2rem;
    font-size: 1.5rem;
}