@font-face {
  font-family: 'Pokemon Hollow Normal';
  font-style: normal;
  font-weight: normal;
  src: local('Pokemon Hollow Normal'), url('fonts/Pokemon Hollow.woff') format('woff');
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: coral;
  font-family: 'Pokemon Hollow Normal', sans-serif;
  color: navy;
  word-spacing: 20px;
  font-weight: 900;
}

h1 {
  font-size: 5em;
}

.pokeGrid{
    display: flex;
    flex-wrap: wrap;
}
.scene {
  width: 200px;
  height: 260px;
  margin: .5em;
  perspective: 600px;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.cardFace {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px yellow;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.front {
  background: magenta;
}

.back {
  background: wheat;
  transform: rotateY(180deg);
  color: black;
  font-size: 16px;
  font-weight: 900;
}

figure img{
    width: 200px;
}

figure:hover img {
	opacity: 1;
	-webkit-animation: flash 1.5s;
	animation: flash 1.5s;
}
@-webkit-keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}
@keyframes flash {
	0% {
		opacity: .4;
	}
	100% {
		opacity: 1;
	}
}

figcaption {
  text-transform: capitalize;
  font-size: 30px;
  color: black;
  font-weight: 900;
}