* {
  margin: 0;
  box-sizing: border-box;
}
body {
        background: url("http://wallpapercave.com/wp/pEeUsp1.jpg");
        font-size: 16px;
      }

header, footer {
font-family: 'Rock Salt', cursive;
font-size: 4em;
text-align: center;
padding: 20px;
color: yellow;
}

footer {
    font-size: 2em;
}

.mainContainer{
  display: flex;
  margin-right: 2em;
}

.nav {
    margin-left: 2em;
    padding: 20px;
    background-color: orange;
    border-radius: 10px;
}

section {
    width: 100%;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    padding: 5px;
}

.box {
    background-color: pink ;
    font-size: x-large;
    text-align: center;
}

.shipName {
    width: 100%;
    font-size: 5em;
    font-family: fantasy;
    color: white;
    padding: 20px;
    text-align: center;
}

a{
    font-size: x-large;
    color: #333;
}

li {
    padding: 5px;
    border-radius: 5px;
    font-weight: 800;
    border-bottom: 1px solid white;
}

li:hover {
    background-color: bisque;
}

img {
    width: 100%;
}

