* {
    margin: 0;
    box-sizing: border-box
}
body {
    background-color: orange;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: gray;
    margin: 2em 0;
    padding: 2em 0;
}

button {
    font-size: xx-large;
    background-color: orange;
    border-radius: 10px;
    padding: 20px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: bisque;
}
main {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 95%;
}

figure {
margin: 8px;
}

figure img {
    width: 200px;
    border: 1px solid white;
}

figure figcaption {
    font-size: 1.5em;
    color:white;
    font-weight: 500;
}