* {
  margin: 0;
  box-sizing: border-box;
}

.senators {
  display: flex;
  flex-wrap: wrap;
}

figure {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  background: linear-gradient(to left, red, white, blue);
  padding: 10px;
  border-radius: 0.8rem;
}
figcaption {
  text-align: center;
}
