* {
  margin: 0;
  box-sizing: border-box;
}

.senators {
  display: flex;
  flex-wrap: wrap;
}

figure {
  width: 160px;
  display: flex;
  flex-direction: column;
  margin: 1em;
  background: linear-gradient(to left, red, white, blue);
  padding: 10px;
  border-radius: 0.8rem;
}
figcaption {
    text-align: center;
}
.modalbutton {
  background: linear-gradient(to left, red, white, blue);
  padding: 20px;
  font-size: medium;
  font-weight: 600;
  border-radius: 0.8rem;
  margin: 8rem;
  align-items: center;
  margin-block-start: 8em;
  margin-block-end: 30rem;
  display:flexbox;
  align-items: center; 
}
.title {
    text-align: center;
    font-family: cursive;
}

  